.navContainer{
    width:100%;
    border:1px solid red;
    display: flex;
   
}
/*resume builder css animation starts*/

.resumeTitle{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 29px;
    letter-spacing: 0.6px;
    word-spacing: -3.4px;
    color: #1D7B80;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-shadow: -3px 2px 2px #45B0B5;
    -webkit-box-reflect: below -10px linear-gradient(transparent,rgba(0,6,255,0.15));
    margin-left:10px;
    position: relative;
    display:flex;
  }
  .resumeTitle span{
    position:relative;
    display: inline-block;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.08s * var(--i));
  }
  
  @keyframes animate{
    0%{
      transform:translateY(0px);
    }
    20%{
      transform:translateY(-5px);
    }
    40%,100%{
        transform:translateY(0px);
    }
  }

  /*resume builder css niamation ends*/

  /*wicked image s*/
  .wickedImg{
    top:0.8rem;
    margin-left:0.25rem;
  }
  /*wicked image e*/


  