.container{
    width:98%;
    margin-left:1%;
    margin-top:10px;
    display: flex;
    flex-direction: row;
   
}
.right{
    width:50%;
    text-align: center;
}
.left{
    width: 50%;
}
.mainlist{
    display:flex;
    width:82%;
    margin-left:8%;
}
.mainlist>div{
    text-align:left;
}
.buildthis{
    width:150px;
    background-color: rgb(95, 179, 109);
    font-weight:bold;
    font-size:21px;
    font-family:cursive, sans-serif;
    cursor:pointer;
    margin-top:10px;
}
.highpoints{
    margin-left:10%;
    width:80%;
    background: rgb(236, 193, 190);
    background: linear-gradient(90deg, rgb(236, 183, 181) 0%, rgb(189, 226, 179) 100%);
    color:black;
    font-family:cursive, sans-serif;
}
.mobilelook{
    width:380px;
    margin-left:10%;
}

@media screen and (max-width:420px){
    .container{
        flex-direction:column-reverse;
        width:100%;
        margin-left:0%;
    }
    .right{
        width:100%;
       
    }
    .mainlist{
        width:fit-content;
        margin-left:0%;
    }
    .highpoints{
        width:100%;
        margin-left:0%;
    }
    .mobilelook{
        margin-left:10px;
    }
}