.container{
    width:1200px;
    height:1697px;
    display:flex;
    color:rgba(3, 3, 3, 0.767);
    font-family: sans-serif;
}
.left{
    width:51%;
    background-color:rgb(252, 248, 249);
    border-right: 3.3px dotted rgb(161, 208, 247);
}
.right{
    width:49%;
    background-image: linear-gradient(rgb(241, 247, 252), rgb(218, 234, 248));
}
.leftcontainer{
    width:80%;
    margin-left:11%;
    font-size:20px;
    margin-top:15%;
    height:90%;
    color:rgb(99, 98, 98);
    display:flex;
    flex-direction:column;
}
.namecontainer>h1{
    font-size:77px;
    font-family:  Calibri;
    color:rgb(75, 74, 74);
}
.professionlinetop{
    width:100%;
    height:3px;
    background-color:  rgb(161, 208, 247);
    margin-top:40px;
}
.professionname{
    font-size:43px;
    font-weight: lighter;
   margin-top:20px;
}
.professionlinebottom{
    width:100%;
    height:3px;
    background-color:  rgb(161, 208, 247);
    margin-top:15px;
}


.careername{
    font-weight: bold;
    font-size:30px;
    margin-top: 20px;
    font-variant: small-caps;
    color:rgb(75, 74, 74);
}
.careerdata{
    margin-top:10px;
}
.eduname{
    font-weight: bold;
    font-size:30px;
    margin-top:15px;
    font-variant: small-caps;
    color:rgb(75, 74, 74);
}
.collegename{
    font-weight:bold;
    color:rgb(92, 91, 91);
    margin-top:15px;

}
.collegecourse{
    margin-top:10px;
}

.skillsandlnguages{
    margin-top:10px;
}
.skillsandlnguages{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skillsname{
    font-weight: bold;
    font-size:30px;
    margin-top:15px;
    font-variant: small-caps;
    color:rgb(75, 74, 74);
}
.languagesname{
    font-weight: bold;
    font-size:30px;
    margin-top:10px;
    font-variant: small-caps;
    color:rgb(75, 74, 74);
}
.techskills{
    font-weight:bold;

}
.softskills{
    font-weight:bold;
    margin-top:5px;
}
.technicalskillslist{
    font-size:20px;
    margin-top:5px;
    color:rgb(99, 98, 98);
}
.softskillslist{
    font-size:20px;
    margin-top:5px;
    color:rgb(99, 98, 98);
    margin-top:5px;
}
.languagesselect{
   font-size:22px;
   font-weight: bold;
}
.languageaddbox{
    width:100px;
    border:2px solid black;
    background-color:white;
    font-size:20px;
    color:black;
    text-align:center;
    cursor:pointer;
}
.languageslist{
    font-size:20px;
    margin-top:5px;
    color:rgb(99, 98, 98);
    line-height: 30px;
}


.submitbutton{
    width:320px;
    height:50px;
    text-align: center;
    border:5px solid rgb(62, 62, 165);
     background-image: linear-gradient(rgb(134, 193, 241), rgb(7, 136, 250));
     border-radius: 7rem;
     margin-top:20px;
     cursor:pointer;
}
.buildthis{
    width:320px;
    height:50px;
    text-align: center;
    border:5px solid rgb(105, 126, 14);
     background-image: linear-gradient(rgba(246, 250, 2, 0.541), rgb(250, 193, 7));
     border-radius: 7rem;
     margin-top:20px;
     cursor:pointer;
}
.interestsname{
    margin-top:7px;
    font-weight:bold;
    
    /* font-variant: small-caps; */
}
.interestslist{
    margin-top:5px;
    font-size:20px;
}






/* roght */
.right{
    font-size:20px;
    color:rgb(99, 98, 98);
}
.rightcontainer{
    width:75%;
    margin-left:12%;
    font-size:20px;
}
.imagediv{
    width:370px;
    height:370px;
    margin-left:105px;
    margin-top:15%;

}
.imagediv>img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.contactsname{
    font-weight: bold;
    font-size:30px;
    margin-top: 30px;
    font-variant: small-caps;
    color:rgb(75, 74, 74);
}
.callicon{
    color: rgb(161, 208, 247);
    margin-top:2.3px;
}
.callicondiv{
    border:2px solid  rgb(161, 208, 247);
    width:33px;
    height:33px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;   
}
.contactnumber{
    display: flex;
}
.mobilenumber{
    margin-left:20px;
    margin-top:-2px;

}
.mailid{
    margin-left:20px;
    margin-top:-2px;

}
.contactmail{
    display:flex;

}
.mailicon{
    color:rgb(161, 208, 247);
}
.portfolioicon{
    color:rgb(161, 208, 247);
}
.portfolio{
    margin-left:20px;
    margin-top:-2px;
}
.contactportfolio{
    display:flex;
}
.contactdata{
    line-height:40px;
    margin-top:10px;
}
.projectname{
    font-weight: bold;
    font-size:30px;
    margin-top: 10x;
    font-variant: small-caps;
    color:rgb(75, 74, 74);
}
.certifications{
    font-weight: bold;
    font-size:30px;
    margin-top: 10px;
    font-variant: small-caps;
    color:rgb(75, 74, 74);
}
.extracurricularname{
    font-weight: bold;
    margin-top: 10px;
}
.internshipname{
    font-weight: bold;
    font-size:30px;
    margin-top: 10px;
    font-variant: small-caps;
    color:rgb(75, 74, 74);
}
